<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
    <title>House Price Predictor</title>
</head>
<body>
    <h1>House Price Prediction</h1>
    <form action="{{url_for('predict')}}" method="post">
        <div class="row">
            <input type="number" placeholder="total house area" name="sqft_living" required="required" min="500">
            <input type="number" placeholder="% of area is living area" name="sqft_basement_percentage" required="required" min="0" max="100">
        </div>
        <div class="row">
            <input type="number" name="bedrooms" placeholder="nb bedrooms" required="required" min="0" max="9">
            <input type="number" name="bathrooms" placeholder="nb bathrooms" required="required" min="0" max="9">
        </div>
        <div class="row">
            <input type="number" min="1900" max="2024" placeholder="year built" name="year_built">
        </div>
        <div class="row">
            <input type="number" min="98001" max="98199" placeholder="zipcode" name="zipcode">
        </div>
        <div class="row">
            <input type="number" min="0" max="5" placeholder="rate the view" name="view">
            <input type="number" min="0" max="10" placeholder="rate its condition" name="condition">
        </div>
        <button type="submit" id="submit">PREDICT</button>
    </form>
    <div id="result">{{ prediction_text }}</div>
</body>
</html>